h1 {
    font-size: 24px;
    text-align: center;
    color: darkblue;
    margin: 20px 0 0 0;
}

.image-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.bottom-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;

    color: white;

    margin-top: 50px;
    margin-bottom: 30px;
}

.pts-container {
    font-size: 48px;
    color: yellow;
    -webkit-text-stroke: 2.5px indianred;
}
